@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Playfair Display", serif;
}
:root {
  --currentColor: #3bcf93;
}
.containerRow {
  background-color: black;
  color: #fff;
  padding: 5rem;
}
.containerRow p {
  font-size: 0.75rem;
  color: var(--currentColor);
}
:root {
  font-size: calc(6px + 1vw);
}
.col i {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.col a {
  color: #ccc;
  text-decoration: none;
}
.contactForm {
  width: 30rem;
  margin: 0 auto;
}
.contactHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation-name: text-focus-in;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

.myBtn {
  border: none;
  padding: 10px 20px;
  background-color: #3bcf93;
  color: white;
  border-radius: 10px;
  transition: 500ms;
}
.myBtn:hover {
  background-color: white;
  color: var(--currentColor);
  border: 1px solid var(--currentColor);
  transform: scale(1.1);
}
.contactName {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--currentColor);
}
.contactIcons {
  margin-top: 10rem;
  padding: 2rem;
  font-size: 1.5rem;
}
.contactIcons a {
  color: black;
  transition: 0.5s;
}
.contactIcons a:hover {
  transform: scale(1.2);
}
.contactFooter {
  padding: 5rem;
  background-color: rgb(34, 33, 33);
  font-size: 0.75rem;
}
.footerIcons i {
  transition: 0.5s;
}
.footerIcons i:hover {
  transform: scale(1.1);
}
.footerImgs {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footerImg {
  width: 100px;
}
.footerEnd {
  padding: 1rem;
  background-color: rgb(14, 13, 13);
}
.footerLink a {
  font-size: 0.75rem;
  color: #fff;
  text-decoration: none;
}
